<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Count Islands</title>
</head>
<body>
    <form action="/countIslands" method="post">
        <label>Please input number of rows:</label>
        <input type="text" name="rows" placeholder="1" /><br>
        <label>Please input number of columns:</label>
        <input type="text" name="columns" placeholder="1" /><br>
        <label>Please input 2d Array</label><br>
        <textarea name="input_array" cols="20" rows="10"></textarea><br>
        <input type="submit" name="submit" value="Submit Array" />
    </form>
</body>
</html>